body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.header-container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: start;
}

.web-menu {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-st {
    color: #2e2f42;
}

.link-hdr {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
}

.link-hdr .link:hover,
.link-hdr .link-hdr:active,
.link-hdr .link:focus {
    color: #404bbf;
}

.link-studio .link:hover,
.link-studio .link:focus,
.link-studio .link:active {
    color: #404bbf;
}

.link-ad {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.list-top {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 156px;
    padding-top: 120px;
}

.list-pt {
    list-style-type: none;
}

.list-adr {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail-item {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.mail-item:hover,
.mail-item:active,
.mail-item:focus {
    color: #404BBF;
}

.link-hdr:hover,
.link-hdr:active,
.link-hdr:focus {
    color: #404BBF;
}

.std-menu {
    color: #2e2f42;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.sec-item {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-left: 472px;
    padding-top: 188px;
    padding-bottom: 292px;
    padding-right: 472px;
}

.one-item {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
}

.btn-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-btn:hover,
.btn-btn:active,
.btn-btn:focus {
    background-color: #404BBF;
}

.list-str {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
}

.sct-thr {
    background-color: #f4f4fd;
}

.team-item {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
}

.dsg-pr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.p-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-one {
    background-color: #ffffff;
    list-style-type: none;
}

.foot-item {
    background-color: #2e2f42;
}

.web-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
}

.logo-stf {
    color: #f4f4fd;
}

.foot-page {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}