
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.top-item {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);  
}

.header-container {
    display: flex;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-f {
    display: flex;
    align-items: baseline;
    margin-left: 156px;
}

.text-sct {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: calc((100% - 72px) / 4);
}

.benefits-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: start;
}

.web-menu {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-st {
    color: #2e2f42;
}

.link-hdr {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-hdr.current {
    color: #404bbf;
    position: relative;
}

.link-hdr.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--OCEAN, #404bbf);
    border-radius: 2px;
    width: 100%;
}

.link-hdr .link:hover,
.link-hdr .link-hdr:active,
.link-hdr .link:focus {
    color: #404bbf;
}

.link-studio .link:hover,
.link-studio .link:focus,
.link-studio .link:active {
    color: #404bbf;
}

.link-ad {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.list-top {
    display: flex;
    gap: 24px;
}

.list-pt {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    display: flex; 
    flex-wrap: wrap; 
}

.ban-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;
}

.ban-app:hover {
    transform: translateY(0);
}

.list-port {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-port:hover {
    transform: translateY(0%);
}

.portfolio-img:hover .par-two {
    transform: translateY(0);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.list-port:hover .par-two {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);
     transform: translateY(0);
}

.list-port:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.par-two {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.list-adr {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail-item {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    display: flex;
}

.mail-item:hover,
.mail-item:active,
.mail-item:focus {
    color: #404BBF;
}

.link-hdr:hover,
.link-hdr:active,
.link-hdr:focus {
    color: #404BBF;
}

.std-menu {
    color: #2e2f42;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.sec-item {
    font-size: 56px;
    font-weight: 700;
    box-sizing: content-box;
    margin: 0 auto 48px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.one-item {
    background-color: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46 47,66,0.7), rgba(46,47,66,0.7)),
  url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-ben {
    padding: 120px 0;
}

img {
    display: block;
}

.btn-btn:hover,
.btn-btn:active,
.btn-btn:focus {
    background-color: #404BBF;
}

.list-str {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.list-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-align: start;
    margin: 0;
    margin-bottom: 8px;
}

.sct-thr {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.sec-fr {
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-item {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
}

.team-item {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 72px;
}

.list-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    display: flex;
    gap: 24px;
    display: flex; 
    flex-wrap: wrap; 
}

.dsg-pr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.p-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: start;
}

.list-one {
    background-color: #ffffff;
    list-style-type: none;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-pt :hover {
    transform: translateY(0);
}

.mark-item {
    padding: 32px 0;
}

.icon-link-third {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-third:hover,
.icon-link-third:focus {
    background-color: #404bbf;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-list-foot {
    display: flex;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-icon {
  fill: #f4f4fd;
  stroke: #FFFFFF;
}

.foot-item {
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot-cont {
    margin-right: 120px;
}

.icon-list-foot {
    display: flex;
    gap: 16px;
}

.web-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

p {
    margin: 0;
}

.logo-stf {
    color: #f4f4fd;
}

.foot-page {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}