
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.top-item {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);  
}

.header-container {
    max-width: 320px;
    display: flex;
}

  .container {
    /*width: 1158px;*/
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

.container-f {
    display: flex;
    align-items: baseline;
    margin-left: 156px;
}

.text-sct {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
   /* width: calc((100% - 72px) / 4); */
}

.benefits-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: start;
}

.web-menu {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-st {
    color: #2e2f42;
}

.link-hdr {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-hdr.current {
    color: #404bbf;
    position: relative;
}

.link-hdr.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--OCEAN, #404bbf);
    border-radius: 2px;
    width: 100%;
}

.link-hdr .link:hover,
.link-hdr .link-hdr:active,
.link-hdr .link:focus {
    color: #404bbf;
}

.link-studio .link:hover,
.link-studio .link:focus,
.link-studio .link:active {
    color: #404bbf;
}

.link-ad {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    display: none;
    margin-left: auto;
}

.list-top {
    display: flex;
    gap: 24px;
}

.list-pt {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   /* column-gap: 24px; */
    row-gap: 48px; 
    display: flex; 
    flex-wrap: wrap; 
}

.ban-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;
}

.ban-app:hover {
    transform: translateY(0);
}

.list-port {
   /* width: calc((100% - 48px) / 3);*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.list-port:hover {
    transform: translateY(0%);
}

.portfolio-img:hover .par-two {
    transform: translateY(0);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.list-port:hover .par-two {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);
     transform: translateY(0);
}

.list-port:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.par-two {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.list-adr {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail-item {
    text-decoration: none;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    /* padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;*/
}

.mail-item:hover,
.mail-item:active,
.mail-item:focus {
    color: #404BBF;
}

.link-hdr:hover,
.link-hdr:active,
.link-hdr:focus {
    color: #404BBF;
}

.std-menu {
    color: #2e2f42;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    display: none;
    gap: 40px;
    align-items: center;
}

.sec-item {
   /* font-size: 56px;*/
   font-size: 36px;
    font-weight: 700;
    box-sizing: content-box;
    margin: 0 auto 48px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.one-item {
    background-color: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
  margin: 0 auto;
  /*background-image: linear-gradient(rgba(46 47,66,0.7), rgba(46,47,66,0.7)),
  url(../images/people-office.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /*letter-spacing: 0.64px;*/
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-ben {
    padding: 120px 0;
}

img {
    display: block;
}

.btn-btn:hover,
.btn-btn:active,
.btn-btn:focus {
    background-color: #404BBF;
}

.list-str {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.list-four {
    /*font-weight: 500;
    font-size: 20px;*/
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    /*text-align: start;*/
    margin: 0;
    margin-bottom: 8px;
}

.sct-thr {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.sec-fr {
   /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.port-item {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
}

.team-item {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 72px;
}

.list-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    display: flex;
    gap: 24px;
    display: flex; 
    flex-wrap: wrap; 
}

.dsg-pr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.p-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: start;
}

.list-one {
    background-color: #ffffff;
    list-style-type: none;
   /* flex-basis: calc((100% - 3 * 24px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-pt :hover {
    transform: translateY(0);
}

.mark-item {
    padding: 32px 0;
}

.icon-link-third {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-third:hover,
.icon-link-third:focus {
    background-color: #404bbf;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-list-foot {
  display: flex;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-icon {
  fill: #f4f4fd;
  stroke: #FFFFFF;
}

.foot-item {
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot-cont {
    margin-right: 120px;
}

.icon-list-foot {
    display: flex;
    gap: 16px;
}

.web-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

p {
    margin: 0;
}

.logo-stf {
    color: #f4f4fd;
}

.foot-page {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.footer-p-mod {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-sub {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.footer-email-icon {
    margin-left: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
   /* width: 408px;*/
    width: 288px; 
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border:  1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus  {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-modal .modal-icon:hover,
.button-modal .modal-icon:focus {
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-modal {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    margin-top: 8px;
}

placeholder {
    color: #2e2f42;
}

.cont-modal {
    position: relative;
}

.input-modal {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.input-modal:focus + .input-icon {
    fill: #4D5AE5;
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-modal {
   display: block;
   margin-bottom: 16px;
}

.textarea-modal {
    width: 100%;
    display: block;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.textarea-modal:focus {
    border-color: #4D5AE5;
}

.checkbox-modal {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-input:checked + .checkbox-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.span-label {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.link-modal {
    color: #4d5ae5;
}

.button-check {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
}

.button-check:hover,
.button-check:focus {
    background-color: #404BBF;
}

.button-header {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.button-menu {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cross-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-mobile {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
}

.address-menu {
    font-style: normal;
}

.link-header-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.link-header-st {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #404BBF;
    text-decoration: none;
}

.mobile-list {
    margin-bottom: auto;
}

.mail-mob {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 24px;
}

.link-menu {
    padding: 24px;
}

.current {
    color: #404BBF;
}

.soc-list {
    margin-bottom: 40px;
    margin-right: 24px;
    margin-left: 16px;
}

/**MEDIA*/


        /*-----------320-----------*/
@media screen and (min-width: 320px) {
    .container {
        max-width: 768px;
    }

    .header-container {
        max-width: 320px;
        }

    .top-item {
        width: 320px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .list-team {
        margin: 0 auto;
        justify-content: center;
    }
    
    .sec-item {
        font-size: 36px;
        width: 216px;
        margin-bottom: 72px;
    }

    .benefits-item {
        display: none;
    }

    .text-sct {
        width: calc((100% - 36px) / 4);
        margin-top: 72px;
    }

    .list-top {
        flex-direction: column;
    }

    .list-four {
        font-size: 20px;
        font-weight: 500;
        text-align: start;
        margin-bottom: 8px;
        letter-spacing: 0.02em;
    }

    .p-one {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .btn-btn {
        letter-spacing: 0.04em;
    }

    .one-item {
        background-image: linear-gradient(rgba(46 47,66,0.7), rgba(46,47,66,0.7)),
        url(../images/Dark-bg.jpg);
    }

    .top-item {
        width: 320px;
        height: 56px;
    }
 
    .button-header {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .list-one {
        flex-basis: calc((100% - 3 * 36px) / 2);
        width: 264px;
    }

    .sec-ben {
        padding: 96px 0;
    }

    .list-pt {
        justify-content: center;
        gap: 48px;
    }

    .list-port {
        width: 288px;
    }

    .web-foot {
        display: inline-block;
        margin-right: 86px;
        margin-left: 86px;
    }

    .foot-cont {
        width: 288px;
        height: 112px;
    }

    .container-f {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .foot-page {
        font-weight: 400;
        font-size: 16px;
        align-items: start;
    }

    .foot-ic {
        gap: 16px;
        margin-bottom: 72px;
    }

    .icon-list-foot {
        width: 208px;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    .footer-p-mod {
        display: flex;
        justify-content: center;
    }

    .list-para {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
        letter-spacing: 0.02em;
        line-height: 1.2;
        color: #2e2f42;
    }

    .button-footer {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .footer-form {
        justify-content: center;
        margin-left: 16px;
    }

    .form-modal {
        width: 256px;
        height: 58px;
        display: block;
    }

    .list-modal {
        width: 256px;
    }

    .backdrop {
        position: absolute;
        top: 0%;
        right: 0%;
    }

    .modal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .address-menu {
        margin-top: 168px;
        margin-bottom: 48px;
    }

    .icon-list-mobile {
        margin-bottom: 40px;
        margin-left: 16px;
        margin-right: 24px;
    }
}

            /*---------768----------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .top-item {
        width: 768px;
        height: 72px;
    }

    .header-container {
        align-items: center;
        max-width: 768px;
    }

    .mobile-list {
        display: flex;
    }  
    
    .one-item {
        background-image: linear-gradient(rgba(46 47,66,0.7), rgba(46,47,66,0.7)),
        url(../images/Dark-planshet-bg.png);
    }

    .sec-item {
        width: 496px;
        height: 119px;
        font-size: 56px;
    }

    .button-header {
        display: none;
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .btn-btn {
        margin-top: 36px;
    }

    .list-port {
        column-gap: 24px;
        flex-basis: calc((100% - 3 * 24px) / 2);
    }

    .list-top {
        display: flex;
        flex-direction: row;
        row-gap: 24px;
        flex-wrap: wrap;
    }

    .list-para {
        display: flex;
        justify-content: start;
    }

    .p-one {
        font-weight: 500;
        width: 356px;
        height: 72px;
    }

    .text-sct {
         width: calc((100% - 72px) / 2);
    }

    .portfolio-img {
        width: 360px;
    }

    .footer-mod {
        width: 453px;
        height: 80px;
    }

    .link-ad {
        display: block;
    }

    .par-two {
        width: 360px;
    }

    .web-foot {
        margin-left: 108px;
    }

    .foot-page {
        margin-left: 108px;
        font-weight: 400;
        font-size: 16px;
        width: 264px;
    }

    .foot-ic {
        width: 208px;
        height: 40px;        
    }

    .footer-form {
        margin-left: 108px;
    }

    .footer-input {
        display: flex;
    }

    .footer-label {
        margin-left: 108px;
    }

    .footer-p-mod {
        justify-content: start;
        margin-left: 108px;
    }

    .backdrop {
        position: fixed;
    }

    .modal {
        width: 408px;
        height: 584px;
    }

    .form-modal {
        margin-bottom: 8px;
        width: 360px;
        height: 58px;
    }

    .list-modal {
        width: 360px;height: 138px;
    }

    .sec-ben {
        height: 504px;
    }

    .text-sct {
        width: 356px;
        height: 120px;
    }

    .list-adr {
        flex-direction: column;
        gap: 12px;
    }

    .container-f.container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }
}
            /*----------1158--------*/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-container {
        max-width: 1158px;
    }

    .top-item {
        width: 1158px;
    }

    .benefits-item {
        display: flex;
    }

    .text-sct {
        width: calc((100% - 72px) / 4);
    }

    .list-para {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
    }

    .p-one {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        width: 264px;
        height: 72px;
    }

    .sec-ben {
        padding: 120px 0;
    }

    .sec-fr {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .mail-item {
        font-size: 16px;
    }

    .list-adr {
        flex-direction: row;
        gap: 40px;
    }

    .list-one {
        flex-basis: calc((100% - 3 * 24px) / 4)
    }

    .list-port {
        flex-basis: calc((100% - 3 * 24px) / 3);
    }

    .list-pt {
        column-gap: 24px; 
    }
}